{% extends "auctions/layout.html" %} {% block body %}
<h2>Listing:{{bid.bid_title}}</h2>
<sub><strong>{% if watch %}Watchlist{%endif%}</strong></sub>
<br>
<img src="{{bid.bid_image}}" alt="shit went wrong"/>
<br>
{%if bid.bid_status%}
{% if owns %}
<form action="{%url 'bid_control' bid.id%}" method="post" accept-charset="utf-8">
	{%csrf_token%}
	<input type="submit" value="Stop Bid" />	
</form>
{%else%}
<br>
<h2><strong>${{j}}</strong> </h2>
<form action="{%url 'views_list' bid.id%}" method="post">
	{%csrf_token%}
	{{bidForm}}
	<br></br>
	<input class="save btn btn-info" type="submit" value="Place Bid"/>
</form>
{%endif%}
{% else %}
<h2><strong>${{j}}</strong> </h2>
<h2><strong>BID CLOSED!!</strong></h2>
{%endif%}
<p>
<h2><strong>Details:</strong></h2>
<br></br>
<ol>
	<li>Listed by {{bid.bid_owner}}</li>
	<li>Category:{% for x in cat %}{{x.category}}{% endfor %}
	</li>
</ol>
</p>
{%if c_valid%}

<h2>Comments...</h2>

<ul>
	{% for y in comments %}
	<h2 style="color: blue;">{{y.title}} <br> <h4>{{y.comment}}</h4></h2>
	<sub>By @{{y.user}} posted at:{{y.time}}</sub>
	 {% endfor %}
</ul>

{%else%}
	<p>No Comments Yet</p>
	<p>Add a Comment</p>
	{%endif%}
	<h2>Add a Comment</h2>

	<form action="{%url 'com_make' bid.id%}" method="post">
		{%csrf_token%}
		{{form}}
		<br></br>
		<input class="save btn btn-info" type="submit" value="Add Comment"/>
	</form>

	{% endblock %}

